<h1>Add Question And Answer:</h1>
<div>
    <button type="button" (click)="addFields()">Add more answer</button>
</div>
<form [formGroup]="questionForm">
    <div>
        <label for="">Question</label>
        <input type="text" formControlName="question">
    </div> 
<!-- </form>
<form [formGroup]="answerForm"> -->
    <div formArrayName="faqAnswer">
        <ng-container *ngFor="let data of faqAnswer.controls; let i = index">
            <div [formGroupName]="i">
                <div>
                    <label>Answer</label>
                    <input type="text" formControlName="answers">
                </div>
            </div>
            <button type="button" *ngIf="i!==0" (click)="removeFields(i)">Remove Field</button>
        </ng-container>
    </div>
</form>
<div>
    <button (click)="addQuestion()">Submit</button>
</div>
